body {
  background-color: #00001b;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  color: aliceblue;
}

.navbar {
  display: flex;
  
}



.app{
  background-color: #310021ad;
  max-width: 1300px;
  margin: 0 auto 300px;
  padding: 20px 30px;
  border-radius: 10px;
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  display: flex;
  color: aliceblue;
  border-top: 10px;
}
