body {
  background-color: #000c0f;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  color: aliceblue;
}

.navbar {
  display: flex;

}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar{
  display: flex;
  justify-content: end;
  
}


.app{
  background-color: #273031ad;
  max-width: 1300px;
  margin: 0 auto 300px;
  padding: 20px 30px;
  border-radius: 10px;
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  display: flex;
  color: aliceblue;
  border-top: 10px;
}
